@model PagedList.PagedList<PBL3.Models.User>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Quản lý tài khoản</a>
    </li>

}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý tài khoản</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Quản lý tài khoản</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách tài khoản</h3>

            <div class="card-tools">
                <a href="~/User/Add" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tài khoản</th>
                        <th>Mật khẩu</th>
                        <th>Email</th>
                        <th>Quyền truy cập</th>
                        <th>Ngày tạo</th>
                        <th>Hoạt động</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ViewBag.Page;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.UserName</td>
                                <td>********</td>
                                <td>@item.Email</td>
                                @{
                                    PBL3.Models.pbl3Entities db = new PBL3.Models.pbl3Entities();
                                    var role = db.Roles.Find(item.Role);
                                }
                                <td>@role.RoleName</td>
                                <td>@item.CreatedDate </td>
                                <td class="text-center">
                                    <input type="checkbox" @(item.Status ? "checked" : "") onclick="return false;" onkeydown="return false;" />
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.UserID }, new { @class = "btn btn-sm btn-primary" })
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.UserID }, new { @class = "btn btn-sm btn-danger delete-link", onclick = "return confirm('Bạn có chắc muốn xóa?');" })
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 " style="text-align: center">  @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
                <div class="col-md-3"></div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
