@model PagedList.PagedList<PBL3.Models.Product>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .border-left-3px-green {
        border-left: 8px solid #28a745 !important;
    }
</style>

@section naviheader{
    <!-- Left navbar links -->
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Quản lý sản phẩm</a>
    </li>

}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Quản lý sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách sản phẩm</h3>

            <div class="card-tools">
                <a href="~/Admin/Product/Add" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body text-center">
            <form action="/Admin/Product/Index">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-inline">
                            <div class="input-group">
                                <input class="form-control" type="search" name="keyword" value="@ViewBag.Keyword" placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-sidebar">
                                        <i class="fas fa-search fa-fw"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <lable class="col-md-3 text-bold pt-2">Danh mục:</lable>
                            <div class="col-md-9">
                                <select class="form-control" name="cate">
                                    @using (PBL3.Models.pbl3Entities db = new PBL3.Models.pbl3Entities())
                                    {

                                        if (ViewBag.Cate == null)
                                        {
                                            <option value="" selected>All</option>
                                        }
                                        else
                                        {
                                            <option value="">All</option>
                                        }
                                        foreach (var loai in db.Categories.ToList())
                                        {
                                            if (loai.CatID == ViewBag.Cate)
                                            {
                                                <option value="@loai.CatID" selected>@loai.CatName</option>
                                            }
                                            else
                                            {
                                                <option value="@loai.CatID">@loai.CatName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hình ảnh</th>
                            <th>
                                <a href="@Url.Action("Index", new {sort = ViewBag.SortByName , keyword = ViewBag.Keyword, cate = ViewBag.Cate})" style="color: #343a40;">
                                    Tên sản phẩm
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            @*<th>Tiêu đề</th>*@
                            <th>Danh mục</th>
                            <th>
                                <a href="@Url.Action("Index", new {sort = ViewBag.SortByQuantity , keyword = ViewBag.Keyword, cate = ViewBag.Cate})" style="color: #343a40;">
                                    Số lượng
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Index", new {sort = ViewBag.SortByPrice , keyword = ViewBag.Keyword, cate = ViewBag.Cate})" style="color: #343a40;">
                                    Giá
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Index", new {sort = ViewBag.SortByPromotionPrice , keyword = ViewBag.Keyword, cate = ViewBag.Cate})" style="color: #343a40;">
                                    Giá khuyến mãi
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Index", new {sort = ViewBag.SortByDate , keyword = ViewBag.Keyword, cate = ViewBag.Cate})" style="color: #343a40;">
                                    Ngày tạo
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Index", new {sort = ViewBag.SortByHome , keyword = ViewBag.Keyword, cate = ViewBag.Cate})" style="color: #343a40;">
                                    Trang chủ
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Index", new {sort = ViewBag.SortBySale , keyword = ViewBag.Keyword, cate = ViewBag.Cate})" style="color: #343a40;">
                                    Khuyến mãi
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th>
                                <a href="@Url.Action("Index", new {sort = ViewBag.SortByStatus , keyword = ViewBag.Keyword, cate = ViewBag.Cate})" style="color: #343a40;">
                                    Hiển thị
                                    <i class="fas fa-sort"></i>
                                </a>
                            </th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = ViewBag.Page;
                            foreach (var item in Model)
                            {
                                var strCheck = item.Status ? "<i class='fa fa-check text-success'></i>" : " <i class='fas fa-times text-danger'></i>";
                                var strCheckHome = item.isHome ? "<i class='fa fa-check text-success'></i>" : " <i class='fas fa-times text-danger'></i>";
                                var strCheckSale = item.isSale ? "<i class='fa fa-check text-success'></i>" : " <i class='fas fa-times text-danger'></i>";
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        <button type="button" class="btn">
                                            @*<img class="imgproduct" data-id="@item.ProductID" src="@item.ProductImages.FirstOrDefault(x=>x.isDefault).Image" width="60" />*@
                                            <img class="imgproduct" data-id="@item.ProductID" src="@item.ListImages" width="60" />
                                        </button>
                                    </td>
                                    <td>@item.ProductName</td>
                                    @*<td>@item.Title</td>*@
                                    @if (item.Category != null)
                                    {
                                        <td> @item.Category.CatName</td>
                                    }
                                    else
                                    {
                                        <td> Trống</td>
                                    }

                                    <td>@item.Quantity</td>
                                    <td>@item.Price.ToString("N0")</td>
                                    <td>@item.PromotionPrice.Value.ToString("N0")</td>
                                    @{
                                        DateTime date = DateTime.Parse(item.CreateDate.ToString());
                                        string formattedDate = date.ToString("dd MMMM yyyy HH:mm:ss");
                                    }
                                    <td>@formattedDate</td>

                                    <td>
                                        <a href="#" data-id="@item.ProductID" data-status="@item.isHome" class="btnHome"> @Html.Raw(strCheckHome)</a>
                                    </td>
                                    <td>
                                        <a href="#" data-id="@item.ProductID" data-status="@item.isSale" class="btnSale"> @Html.Raw(strCheckSale)</a>
                                    </td>
                                    <td>
                                        <a href="#" data-id="@item.ProductID" data-status="@item.Status" class="btnStatus"> @Html.Raw(strCheck)</a>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.ProductID }, new { @class = "btn btn-sm btn-primary" })
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.ProductID }, new { @class = "btn btn-sm btn-danger delete-link", onclick = "return confirm('Bạn có chắc muốn xóa?');" })
                                        <a href="~/Admin/Comment/CommentByProductID?id=@item.ProductID" class="btn btn-sm btn-warning">Đánh giá</a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">Không có bản ghi nào</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 " style="text-align: center">  @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
                    <div class="col-md-3"></div>
                </div>

            </form>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<div id="dialog">
    <iframe id="myIframe" style="border :0; width: 100%;height: 100%;"></iframe>
</div>


@section DoanJs{

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
      const successMessage = '@TempData["successMessage"]';
        if (successMessage) {
            Swal.fire({
                position: 'top-end',
                toast: true,
                icon: 'success',
                title: successMessage,
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                customClass: {
                    popup: 'border-left-3px-green'
                }
            })
      }
    </script>
    <script>

        $(document).ready(function () {
            /* hien thi form upload anh*/
            $("#dialog").dialog({
                autoOpen: false,
                show: "fade",
                hide: "fade",
                modal: true,
                height: '500',
                width: '600',
                resizable: true,
                title: 'Danh sách ảnh',
                close: function () {
                    window.location.reload();
                }
            });
            $('body').on('click', '.imgproduct', function () {
                var proid = $(this).attr("data-id");
                $("#dialog #myIframe").attr("src", "/Admin/ProductImage/Index?id=" + proid);
                $('#dialog').dialog('open');
                return false;
            });
            $('body').on('click', '.btnStatus', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/Admin/Product/Status',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isActive) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");
                            }
                        }

                    }
                });

            });
            $('body').on('click', '.btnHome', function (e) {
                e.preventDefault();
                debugger;
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/Admin/Product/isHome',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isActive) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");
                            }
                        }

                    }
                });

            });
            $('body').on('click', '.btnSale', function (e) {
                e.preventDefault();
                debugger;
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/Admin/Product/isSale',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isActive) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");
                            }
                        }

                    }
                });

            });
        });
    </script>
}
